@use "../abstracts/colors";
@use "../abstracts/variables" as vars;
@use "../abstracts/breakpoints" as *;

%btn {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  border: none;
  text-align: center;
  text-decoration: none;
  transition: vars.$transition-base;
  color: inherit;
  cursor: pointer;
}

.btn-primary-sm {
  @extend %btn;
  font-size: 1.45rem;
  background: linear-gradient(90deg, colors.$cyan, colors.$blue);
  border-radius: 3.5rem;
  padding: 1.3rem 3.2rem;
  flex-shrink: 0;

  &:hover {
    background: linear-gradient(90deg, colors.$cyan, colors.$cyan);
  }
}

.btn-primary-lg {
  @extend .btn-primary-sm;
  font-size: 1.6rem;
  padding: 1.6rem 9.8rem;
}