@use "../abstracts/variables" as vars;
@use "../abstracts/breakpoints" as *;

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 13rem;
  grid-row-gap: 9.2rem;
  align-items: baseline;
  max-width: 93rem;
  margin: 0 auto;
  margin-bottom: 11rem;
  padding: vars.$container-padding-x;

  @include breakpoint("max", 630px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.feature {
  text-align: center;

  &-img {
    max-width: 8rem;
    margin: 0 auto 3rem auto;
  }

  &:nth-child(2) img {
    max-width: 7rem;
  }
}